.hello{
    padding:74px 16px 88px;
    @media(min-width:768px){
        max-width:768px;
        margin:0 auto;
    }
    @media(min-width:960px){
        max-width:100%;
        padding:80px 16px 176px;
    }
    &__bubble{
        position:absolute;
        left:calc(50% + 90px);
        top: -26px;
    }
    &__image{
        box-sizing:content-box;
      width:96px;
      height:96px;  
      border-radius:50%;
      border: 24px solid #F6F9FD;

      @media(min-width:960px){
        width: 178px;
        height: 178px;
        border: 24px solid #F6F9FD;
      }
    }
    &__content{
        margin-bottom:48px;
        @media(min-width:960px){
            max-width:786px;
            margin:0 auto;
            position:relative;
            &::before {
                content:"";
                width: 83.23px;
height: 254.88px;
background: url('../assets/img/{.svg');
    display:block;
    position:absolute;
    right:100%;
    top:0;
            }
            &::after {
                content:"";
                width: 83.23px;
height: 254.88px;
background: url('../assets/img/}.svg');
    display:block;
    position:absolute;
    left:100%;
    top:0;
            }
        }
    }
    &__mail-box{
       display:flex;
       justify-content: center;
       align-items: center;
    }
    &__image-box{
        display:flex;
        align-items:center;
        justify-content:center;
        position:relative;
        margin-bottom:48px;
    }
    &__header{
        
        text-align:center;
font-size: 26px;
line-height: 32px;
color:#234361;
@media(min-width:960px){
    font-size: 32px;
line-height: 40px;
}
    }
    &__there{
        display:none;
        @media (min-width:960px){
            display:block;
            background: #1070CA;
border-radius: 16px;
color:white;
padding: 16px 19px;
font-weight: bold;
font-size: 32px;
position:relative;
&:after{
    content:"";
    position:absolute;
    top:100%;
    left:32px;
    display:block;
    width:17.42px;
    height:22.66px;
    background:url('../assets/img/cloud.svg');

}
        }
    }
    &__specials{
        color:#1070CA;
        white-space:nowrap;
    }
    &__description{
        font-weight: 300;
font-size: 16px;
line-height: 32px;
text-align:center;
@media (min-width:960px){
    font-size: 20px;
line-height: 40px;
}
    }
    &__link{
        color:#4DA8FF;
        font-weight:bold;
        text-decoration: none;
    }
    &__mail{
        border-radius: 64px;
        background: #4DA8FF;
        color:white;
        display:inline-block;
        padding:4px 16px;
        font-size:20px;
        font-weight:bold;
        line-height: 40px;
        text-decoration:none;

    }
}