
.skills {
    color:white;
    min-height: 948px;
    background: #1070CA;
    display:flex;
   justify-content:center;
   
  }
  .skills__header{
text-align:center;
        font-size:48px;
        margin:80px auto 170px auto;
}
.skills__list > li{
    font-size: 16px;
line-height: 40px;
font-weight: 300;
}

.skills__list{
    font-size:24px;
   list-style-type: none;
    margin-top:16px;
    padding:0;
}
.skills__container{
  display:flex;
  justify-content: center;
  width: 378px;
}

.skills__header--list{
 text-align: center;
margin-top:0;
}
.skills__wrap{
  min-height:950px;
  display:flex;
  justify-self: center;
  align-items:stretch;
  justify-content: space-around;
}
.skills__emoji--wrapper{
  
  display:flex;
  justify-content: space-around;
  align-items: stretch;

}
.skills__emoji{
  display:inline-block;
  text-align:center;
  width: 379px;

  font-size:50px;
}
.small-tick{
  margin-right:12px;
}
.skills__box{

}