@import "~normalize.css";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
@import "modules/mobile.scss";
@import "modules/hello.scss";
@import "modules/hand.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body {
  background: #fff;
  font-family: 'Nunito', sans-serif;

}
